.in{
  content: '';
  border: 1px solid red; 
  width: 350px;
  height: 350px;
}
 
   
  .df{
    content: '';
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 350px;
  
    justify-content: center;

    animation:  white-circle 4000ms linear infinite alternate;
  }
@keyframes white-circle{

0%{left: 0;
    top: 0;
  }

  25%{top: 250px;
    left:0;
    background-color: blue;
    border-radius: 50%;

  }

  50%{
    left: 250px;
    top: 250px;
    background-color: red;
    border-radius: 10px;
  }

  75%{
    top: 0;
    left: 250px;
    background-color: gold;
    border-radius: 30% 20% 20%;

     }

  100%{
    left: 0;
   }
  }
   /* 0%{
    top: 0;
    left: 0;
  }
  25%{
    left: 0;
    top: 250px;
  }
  50%{
      top: 250px;
      left: 250px;
  }
  75%{
top: 0;

 right: 0;
 bottom: 250px;
  100%{
        bottom: 250px;
        right: 250px;
       top: 0;
       left: 0;
    }
  
} */


