/* постійні клієнти */
.zxdw{
    display: flex;
}

.kvadrat{

  
    
    
  
    
    
}
.icons-klient:hover{
    border: 1px solid #2196F3;
    color: #2196F3;
}
.cust-icon{
   
    fill: currentColor;
  
}
.cust-icon:hover{
    fill: #2196F3;
}
.icons-klient{
    width: 170px;
    height: 90px;
    left: 215px;
    top: 2493px;
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: #AFB1B8;
}


