/* блок приєднуйтесь та соціальні мережі */

.coorent{
    fill: currentColor;
    
 }
 .social-link{
     color: #AFB1B8;
 }
 .social-link:hover
 {
   color:#FFFFFF;
   background-color:#2196F3;
 }
 
 
 
 
 .join .social-link{
     background-color: rgba(255, 255, 255, 0.1); /* #2f303a */
     color: #F5F4FA;
   }
 .join .social-link:hover,
 .join .social-link:focus{
 background-color: #2196F3;
 
 
 }
 .join{
     margin-left: 250px;
     margin-top: -88px;
     padding-bottom: 100px;
     justify-content: center;
 }
 .join-networks{
     color: #F5F4FA;
     
     font-size: 14px;
     line-height: 1.2;
     font-weight: 700;
     text-transform: uppercase;
   }
   
   .join .social-icon{ 
 
     fill: currentColor;
   }
   .opq{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 30px;
     
 }
 
 .opq li + li{
     margin-left: 10px;
 }
 .social-link{
     display:inline-flex;
     justify-content: center;
     align-items: center;
     width: 44px;
     height: 44px;
     border-radius: 50%;
     
    
 }
 .social-link:hover,
 .social-link:focus
 {
   background-color: #2196F3;
   fill: #FFFFFF;
 }